#main {
	display: flex;
	flex-direction: row;
	padding: 10px;
		padding-top: 80px;
	flex-wrap: wrap;
}


#dp {
	width: 500px;
	margin: auto;
	border-radius: 250px;
		box-shadow: -5px 9px 6px 0px #1D0606;
	
}


.uppertext {
	color: #1D0606;
		font-family: Indie Flower;
		font-size: 64px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;

}
.name {
	color: #3C1515;
		font-family: Merienda;
		font-size: 128px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: -7.68px;
}

.bottext {
	margin-top: 40px;
		color: #1D0606;
		font-family: Indie Flower;
		font-size: 28px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
}

#box2 {
	width: 45%;
		min-width: 400px;
		padding: 0px;
		margin: auto;
		padding-top: 30px;
}

.projectsbtn {
	background-color: #85445c;
	filter: drop-shadow(-5px 9px 6px #1D0606);
	color: #FABDD3;
	margin-top: 30px;
	text-align: center;
	font-family: Merienda;
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	width: 246px;
	height: 58px;
}

.projecturl {
	color: #e3ced6;
}
body {

	background-color: #FABDD3;
	height: 100%;
}
