#main {
    display: flex;
    flex-direction: row;
    padding: 10px;
    padding-top: 80px;
    flex-wrap: wrap;
}

* {
    font-display: swap;
}

#dp {
    width: 600px;
    margin: auto;
    border-radius: 300px;
    box-shadow: -5px 9px 6px 0px #1d0606;
}

.uppertext {
    color: #1d0606;
    font-family: Merienda;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.name {
    color: #3c1515;
    margin: auto;
    text-align: center;
    font-family: Merienda;
    font-size: 128px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -7.68px;
}

.bottext {
    margin-top: 40px;
    color: #1d0606;
    font-family: Merienda;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#box2 {
    width: 75%;
    min-width: 400px;
    padding: 0px;
    margin: auto;
    padding-top: 30px;
}

a {
    color: #07093b;
}

.projectsbtn {
    background-color: #30470400;
    color: #212203;
    margin-top: 60px;
    text-align: center;
    font-family: Merienda;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    overflow: hidden;
    padding: 5px;
    margin: 10px;
    width: 246px;
    height: 58px;
    border: 2px solid #212203;
    border-radius: 5px;
    transition:
        background-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94),
        color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94),
        border-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.projectsbtn:hover {
    background-color: #212203;
    color: white;
    text-decoration: underline;
}

.projecturl {
    color: inherit;
}

.buttonholder {
    display: flex;
    margin: auto;
    padding: 10px;
    width: max-content;
}

body {
    background-color: #cde3e4;
    height: 100%;
}

#footertext {
    text-align: center;
    font-family: Merienda;
    font-size: 22px;
}
