#main {
	display: flex;
	flex-direction: row;
	padding: 0px;
		padding-top: 80px;
	flex-wrap: wrap;
	background-color: pink;
}

#dp {
	width: 450px;
	margin: auto;
	border-radius: 225px;
	
}

.box {
	border: 5px solid black;
}

.uppertext {
	font-size: 30px;

}
.name {
	font-size: 50px;
	margin: auto;
	align-self: center;
}

.bottext {
	font-size: 26px;
}

#box2 {
	width: 55%;
		min-width: 450px;
		padding: 0px;
		margin: auto;
		padding-top: 30px;
}

body {
	background-color: #FABDD3;
	height: 100%;
}