/* P.S. This file is common to all the pages  */

/* width */
::-webkit-scrollbar {
	width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 0 rgb(0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background-color: #000000;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

/* Handle hover */
::-webkit-scrollbar-thumb:hover {
	background-color: #00013d;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
	cursor: default;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
		"Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji" !important;
}

.container {
	background-color: #00000000;
}

@keyframes rainbow {
	0% {
		background-position: 0% 82%;
	}
	50% {
		background-position: 100% 19%;
	}
	100% {
		background-position: 0% 82%;
	}
}

.section:hover {
	transform: scale(1.05, 1.05) !important ;
}

.blink {
	padding: 8px;
	transition: ease-in-out;
}
ul {
	list-style-image: radial-gradient(black, black);
}
.blink:hover {
	animation: blue-black alternate 3s infinite ease;
	border-radius: 4px;
	color: rgb(255, 255, 255);
	font-weight: 700;
	list-style-image: radial-gradient(#00013d, #00013d);
}

@keyframes blue-black {
	0% {
		background-color: #000000;
	}

	100% {
		background-color: #00013d;
	}
}

.bg-gradient {
	background-color: #000000;

	background-image: url("../bg.webp");
	border-radius: 8px;
	transition: 1s;
}

img {
	transition: ease-in-out 1s;
}

.bg-gradient:hover {
	border-radius: 3vh;

	transform: scale(1.05, 1.05);
}

.img {
	border-radius: 3px;
}

.explore-img {
	background-color: rgba(255, 255, 255, 0.13);
	background-image: url("../img/explore.jpg");
	background-size: 100% auto;
}

.card-img {
	transition: 5s ease-in-out;
}
.card-img:hover {
	transform: scale(1.05, 1.05);
}
.display-img {
	min-height: 300px;
	animation: raise-animation-main-card cubic-bezier(0.68, -0.55, 0.265, 1.55) 15s alternate infinite;
}

@keyframes raise-animation-main-card {
	from {
		box-shadow: none;
	}
	to {
		box-shadow: 3px 3px 8px #464646e1;
		transform: scale(1.1, 1.1);
	}
}

.highlight {
	transition: 0.8s ease-out;
}
.highlight:hover {
	font-size: 1.8rem;
	padding-left: 2rem;
	color: #01024d;
}

.raisable {
	transition: 0.3s;
}
.raisable:hover {
	box-shadow: 0 0 2px blue;
	transform: scale(1.2, 1.2) !important;
}

.page-title-name {
	font-family: "Luckiest Guy", cursive;
}

.jiggle {
	cursor: url("../cursor.png"), auto !important;
}

a {
	cursor: url("../cursor.png"), auto !important;
}

.jiggle:hover {
	animation: jiggle-mode 0.4s alternate infinite ease-in !important;
}

@keyframes jiggle-mode {
	0% {
		border-radius: 2px;
		transform: scale(1, 1);
	}

	100% {
		border-radius: 5px;
		transform: scale(1.05, 1.05);
	}
}

.card {
	transition: 0.5s ease-out !important ;
	overflow: hidden;
	content-visibility: auto;
}

.card:hover {
	box-shadow: 3px 3px 8px #000000c2;
	transform: scale(1.03, 1.03) !important ;
}

b,
strong {
	font-weight: 600;
}

ion-icon {
	font-size: 35px;
}

.twitter {
	color: rgb(0, 0, 255);
}

.instagram {
	color: rgb(255, 16, 116);
}

.github {
	color: rgb(51, 51, 51);
}

.email {
	color: rgb(128, 79, 0);
}

.email {
	word-wrap: break-word;
}

.card {
	background-color: rgba(230, 247, 245, 0.054);

	content-visibility: auto;
}

.img-fluid {
	border-radius: 5px;
}

.lead {
	font-family: "Sora", sans-serif;
}

.links {
	transition: 1s;
}

.links:hover {
	padding-left: 2rem;
	transform: scale(1.06, 1.06);
	background-color: rgba(255, 255, 0, 0.548);
	cursor: url("../cursor.png"), auto !important;
}

.projects-heading {
	transition: 0.7s;
}
.projects-heading:hover {
	box-shadow: 0 0 8px #000000;
	content-visibility: auto;
	transform: scale(1.05, 1.05);
}

.intrests {
	content-visibility: auto;
	transition: 0.6s ease-in-out;
	scroll-snap-type: y mandatory !important;
	scroll-snap-align: start !important;
}
.intrests:hover {
	box-shadow: 0 0 3px rgba(128, 128, 128, 0.931);
	transform: scale(1.07, 1.07) !important ;
	background-color: rgba(0, 247, 255, 0.452);
}
