/* P.S. This file is common to all the pages  */

html {
	scroll-behavior: smooth;
}

.section:hover {
	transform: scale(1.05, 1.05) !important ;
}

.bg-gradient {
	background-color: black;
	background-image: url("../bg.gif");
	/* background-size:  ; */
	border-radius: 8px;
	transition: 1s;
}

img {
	transition: 1s;
}

.bg-gradient:hover {
	border-radius: 3vh;

	transform: scale(1.05, 1.05);
}

.img {
	border-radius: 3px;
}

.explore-img {
	background-color: rgba(255, 255, 255, 0.13);
	background-image: url("../img/explore.jpg");
	background-size: 100% auto;
}

.card-img {
	transition: 5s;
}
.card-img:hover {
	transform: scale(1.05, 1.05);
}
.display-img {
	animation: raise-animation-main-card 4s alternate infinite;
}

@keyframes raise-animation-main-card {
	from {
		box-shadow: none;
	}
	to {
		box-shadow: 3px 3px 8px #464646e1;
		transform: scale(1.1, 1.1);
	}
}

.blink {
	transition: 0.8s;
}
.blink:hover {
	font-size: 1.8rem;
	padding-left: 2rem;
}

.raisable {
	transition: 0.3s;
}
.raisable:hover {
	box-shadow: 0 0 2px blue;
	transform: scale(1.2, 1.2) !important;
}

.page-title-name {
	font-family: "Luckiest Guy", cursive;
}

a:hover,
.jiggle:hover {
	animation: jiggle-mode 0.4s alternate infinite !important;
}

@keyframes jiggle-mode {
	0% {
		border-radius: 2px;
		transform: scale(1, 1);
	}

	100% {
		border-radius: 5px;
		transform: scale(1.05, 1.05);
	}
}

.card {
	transition: 0.5s !important ;
	overflow: hidden;
}

.card:hover {
	box-shadow: 3px 3px 8px #000000c2;
	transform: scale(1.03, 1.03) !important ;
}

b,
strong {
	font-weight: 600;
}

ion-icon {
	font-size: 35px;
}

.twitter {
	color: rgb(0, 0, 255);
}

.instagram {
	color: rgb(255, 16, 116);
}

.github {
	color: rgb(51, 51, 51);
}

.email {
	color: rgb(128, 79, 0);
}

.email {
	word-wrap: break-word;
}

.card {
	background-color: rgba(230, 247, 245, 0.054);
}

.img-fluid {
	border-radius: 5px;
}

.lead {
	font-family: "Sora", sans-serif;
}

.links {
	transition: 1s;
}

.links:hover {
	padding-left: 2rem;
}

.projects-heading {
	transition: 0.7s;
}
.projects-heading:hover {
	box-shadow: 0 0 8px black;
	transform: scale(1.03, 1.03);
}

.intrests {
	transition: 0.6s ease-in-out;
}
.intrests:hover {
	box-shadow: 0 0 3px rgba(128, 128, 128, 0.931);
	transform: scale(1.03, 1.03) !important ;
}
